.navbar {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
.navbar__links {
    display: flex;
    margin-left: auto;
    gap: 1.8rem;
}
.navbar__links a {
    color: #fff;
}

.navbar__links a:hover {
    color: red;
}
