button, .button {
    padding: .6rem 1.4rem;
    text-align: center;
    color: #181818;
    font-family: sans-serif;
    font-size: .8rem;
    border: 2px solid red;
    cursor: pointer;
    background: transparent;
    transition: all 300ms ease-out;
}

.button__primary {
    background-color: white;
    color: #181818;
}

.button:hover {
    background-color: red;
    color: #fff;
}
.button:active {
    opacity: 0.8;
}

.button__secondary {
    background-color: #181818;
    color: #fff;
}
